{{ "<!-- About Section -->" | safeHTML }}
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ i18n "aboutTitle" }}</h2>
        <h3 class="section-subheading text-muted">{{ i18n "aboutSubtitle" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">

          {{ range $i, $e := .Site.Params.about.events }}
            <li {{ if (not (modBool $i 2)) }}class="timeline-inverted" {{ end }}>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="../img/about/{{ .img }}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>{{i18n .date }}</h4>
                  <h4 class="subheading">{{ i18n .title }}</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">{{ i18n .description }}</p>
                </div>
              </div>
            </li>
          {{ end }}

          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>{{ i18n "aboutEndpoint" }}</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
