{{ "<!-- Team Section -->" | safeHTML }}
<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{i18n "teamTitle" | markdownify }}</h2>
        <h3 class="section-subheading text-mutedwith ">{{ i18n "teamSubtitle" | markdownify }}</h3>
      </div>
    </div>
    <div class="row flexbox{{ if .Site.Params.team.center }} flexbox-center{{ end }}">
      {{ range .Site.Params.team.members }}
        <div class="col-sm-4 col">
          <div class="team-member">
            <img src="../img/team/{{ .img }}" class="img-responsive img-circle" alt="">
            <h3>{{ .name | markdownify }}</h3>

            <h4>{{ i18n .position | markdownify }}</h4>
            {{ with .reportsTo }}
            <h5 class="report">Reports to {{ . | markdownify }}</h5>
            {{ end }}

            {{ with .livesIn }}
            <h5>Lives in {{ . | markdownify }}</h5>
            {{ end }}

            {{ with .scope }}
            <ul>
              {{ range . }}
                <li>{{ . | markdownify }}</li>
              {{ end }}
            </ul>
            {{ end }}

            <ul class="list-inline social-buttons">
              {{ range .social }}
                <li><a href="{{ index . 1 }}"><i class="fa {{ index . 0 }}"></i></a></li>
              {{ end }}
            </ul>

            <p class="team-bio">{{ i18n .bio | markdownify }}</p>

          </div>
        </div>
      {{ end }}
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted">{{ i18n "teamDescription" | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
